NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-web-client-id
NEXT_PUBLIC_IMGBB_API_KEY=your-imgbb-api-key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
NEXT_PUBLIC_DEV_REPO_URL=https://github.com/moshiurrahmandeap11/scaling-palm-tree
